
<div class="container" style="size: 150,150";>
<h1>Create an article</h1>
<%= form_for @article do |f| %>
<p>
	<%= f.label :title %><br/>
	<%= f.text_field :title %>
</p>
<p>
	<%= f.label :description %><br/>
	<%= f.text_area :description %>
</p>
<p>
	<%= f.submit %>
</p>



<% end %>
</div>

<!--div class="container" style="float: left;size: 50,50;">
<form for= <!%= @article %>>
  <div class="form-group">
    <label for="exampleInputEmail1">Title</label>
    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Title">
 </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <textarea class="form-control" id="exampleInputPassword1" placeholder="Description" rows="3"></textarea>
  </div>
  <div class="form-group form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div-->